/*@import url("//fonts.googleapis.com/css?family=Roboto");*/

/* styles for navigation bars (e.g. in the header) */
nav {
  /* font-family: 'Roboto'; */
}

.navbar-static-top {
  background-color: #b2b2b2;
  /*font-family: 'Roboto';*/
  color: #50394c;
  font-weight: 800;
  width: 100%;
}

.navbar-default .navbar-brand {
                         color: #50394c;}

/* make slider color a nice blue */
/*.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
  background: #6baed6;
}*/

.irs-from, .irs-to, .irs-single { 
  background: #6baed6;
}


/* text families: headers, body text, etc.  */
body {
  background-color: #fff;
  /* font-family: 'Arial'; */
}

h3{
  margin-top: 0;
  padding-top: 0;
}
